# ALY6140 Capstone Project: Real Estate Sales by Town in State of Connecticut
#### Xinran Wang 10/12/2018

## Project description
### in this project, I am going to introduce the data of Real Estate Sales By Town for 2011, 2012, 2013, 2014 in Connecticut.
### The Office of Policy and Management maintains a listing of all real estate sales with a sales price of 2,000 or greater that occur between October 1 and September 30 of each year. For each sale record, the file includes: town, property address, date of sale, property type (residential, apartment, commercial, industrial or vacant land), sales price, and property assessment

### For the first step, import the web dataset into Python and clean up the dataset

In [164]:
#import useful packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [165]:
#download the dataset
data = pd.read_csv('https://data.ct.gov/api/views/8udc-aepg/rows.csv?accessType=DOWNLOAD')
print(data.head())

         Name  SerialNbr  ListYear DateRecorded  AssessedValue  SalePrice  \
0  Bridgeport     110682      2011   03/08/2012       162040.0   233500.0
1     Ledyard     120059      2012   01/16/2013        67830.0    75000.0
2     Milford      12497      2012   05/31/2013       201300.0   255000.0
3   New Haven     110828      2011   07/30/2012        49630.0    39900.0
4   Colebrook      11007      2011   05/14/2012       196100.0   235000.0

   AdditionalRemarks  SalesRatio  NonUseCode ResidentialType  \
0                NaN    0.693961         NaN               1
1                0.0    0.904400         NaN               C
2                0.0    0.789412         NaN               1
3                NaN    1.243860        14.0               1
4                NaN    0.834468         NaN               1

   ResidentialUnits               Address  \
0                 1        144 HUGHES AVE
1                 1      1742-3G ROUTE 12
2                 1   51 SPARROWBUSH LANE
3                 1  337 GREENWICH AVENUE
4                 1         15 WHEELER RD

                                            Location
0  144 HUGHES AVE\nBridgeport, CT\n(41.1837144900...
1  1742-3G ROUTE 12\nLedyard, CT\n(41.47126158500...
2  51 SPARROWBUSH LANE\nMilford, CT\n(41.22758963...
3  337 GREENWICH AVENUE\nNew Haven, CT\n(41.28790...
4  15 WHEELER RD\nColebrook, CT\n(41.982079222000...

C:\Users\Xinran Wang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [166]:
#show the null values of all columns
print(data.isnull().sum())

Name                      0
SerialNbr                 0
ListYear                  0
DateRecorded             12
AssessedValue             0
SalePrice                 0
AdditionalRemarks    123934
SalesRatio                0
NonUseCode           132251
ResidentialType        6288
ResidentialUnits          0
Address                   0
Location              89506
dtype: int64

#### we can find a significant number of null values in the original dataset, I will select name, list year, assessed value sale price, sales ratio, residential type and residential units as the columns used in following analysis.

In [167]:
#select the columns we need
data=data.loc[:,['Name','ListYear','AssessedValue','SalePrice',
                   'SalesRatio','ResidentialType','ResidentialUnits']]

# drop the null vaules from the using columns 
print(data.head())
data.dropna()

         Name  ListYear  AssessedValue  SalePrice  SalesRatio ResidentialType  \
0  Bridgeport      2011       162040.0   233500.0    0.693961               1
1     Ledyard      2012        67830.0    75000.0    0.904400               C
2     Milford      2012       201300.0   255000.0    0.789412               1
3   New Haven      2011        49630.0    39900.0    1.243860               1
4   Colebrook      2011       196100.0   235000.0    0.834468               1

   ResidentialUnits
0                 1
1                 1
2                 1
3                 1
4                 1

,Name,ListYear,AssessedValue,SalePrice,SalesRatio,ResidentialType,ResidentialUnits
0,Bridgeport,2011,162040.0,233500.0,0.693961,1,1
1,Ledyard,2012,67830.0,75000.0,0.904400,C,1
2,Milford,2012,201300.0,255000.0,0.789412,1,1
3,New Haven,2011,49630.0,39900.0,1.243860,1,1
4,Colebrook,2011,196100.0,235000.0,0.834468,1,1
5,Wethersfield,2012,128400.0,165000.0,0.778182,1,1
6,New Canaan,2012,857920.0,1176501.0,0.729213,1,1
7,East Hartford,2012,83800.0,120000.0,0.698333,C,1
8,Litchfield,2012,171320.0,238000.0,0.719832,1,1
9,Southbury,2011,125370.0,119000.0,1.053529,C,1
10,East Lyme,2012,108920.0,148000.0,0.735946,C,1
12,Windsor Locks,2012,173300.0,192000.0,0.902604,1,1
13,Wethersfield,2011,365100.0,516340.0,0.707092,1,1
14,Colchester,2012,171700.0,215000.0,0.798605,1,1
15,Enfield,2012,116370.0,152500.0,0.763082,1,1
16,Branford,2012,100500.0,135000.0,0.744444,C,1
17,Bloomfield,2012,184800.0,258000.0,0.716279,1,1
18,West Hartford,2012,116830.0,165000.0,0.708061,1,1
19,Branford,2011,117700.0,150000.0,0.784667,C,1
20,Greenwich,2012,2828420.0,4800000.0,0.589254,1,1
22,Waterbury,2011,102210.0,17293.0,5.910484,1,1
23,Farmington,2011,577370.0,605000.0,0.954331,1,1
24,Wallingford,2011,116600.0,145000.0,0.804138,1,1
25,Ansonia,2013,169500.0,270000.0,0.628000,Single Family,1
26,Danbury,2011,255800.0,379990.0,0.673176,C,1
27,Clinton,2011,249200.0,330000.0,0.755152,1,1
28,Putnam,2011,85700.0,50000.0,1.714000,2,1
29,Waterford,2011,246510.0,250000.0,0.986040,1,1
30,Bethany,2012,176000.0,255000.0,0.690196,1,1
31,Bridgeport,2011,134840.0,110000.0,1.225818,1,1
...,...,...,...,...,...,...,...
156514,Woodstock,2014,157100.0,225000.0,0.698222,Residential,1
156515,Woodstock,2014,131500.0,185900.0,0.707370,Residential,1
156516,Woodstock,2014,134700.0,113000.0,1.192035,Residential,1
156517,Woodstock,2014,167200.0,55500.0,3.012613,Residential,1
156518,Woodstock,2014,9800.0,66000.0,0.148485,Vacant Land,0
156519,Woodstock,2014,32100.0,24166.0,1.328313,Vacant Land,0
156520,Woodstock,2014,42600.0,32500.0,1.310769,Vacant Land,0
156521,Woodstock,2014,132100.0,225000.0,0.587111,Residential,1
156522,Woodstock,2014,119200.0,81375.0,1.464823,Residential,1
156523,Woodstock,2014,81900.0,101852.0,0.804108,Residential,1
156524,Woodstock,2014,122700.0,130000.0,0.943846,Residential,1
156525,Woodstock,2014,0.0,15000.0,0.000000,Residential,1
156526,Woodstock,2014,138800.0,191500.0,0.724804,Residential,1
156527,Woodstock,2014,51500.0,60000.0,0.858333,Vacant Land,0
156528,Woodstock,2014,122800.0,207500.0,0.591807,Residential,1
156529,Woodstock,2014,127700.0,132500.0,0.963774,Residential,1
156530,Woodstock,2014,263500.0,290000.0,0.908621,Residential,1
156531,Woodstock,2014,269500.0,389000.0,0.692802,Residential,1
156532,Woodstock,2014,364000.0,510000.0,0.713725,Residential,1
156533,Woodstock,2014,195900.0,260000.0,0.753462,Residential,1
156534,Woodstock,2014,910.0,130500.0,0.006973,Vacant Land,0
156535,Woodstock,2014,266200.0,340000.0,0.782941,Residential,1
156536,Woodstock,2014,136500.0,270000.0,0.505556,Residential,1
156537,Woodstock,2014,269500.0,392500.0,0.686624,Residential,2
156538,Woodstock,2014,196600.0,150000.0,1.310667,Residential,1
156539,Woodstock,2014,163590.0,275000.0,0.594873,Residential,1
156540,Woodstock,2014,557100.0,495000.0,1.125455,Residential,1
156541,Woodstock,2014,532000.0,500000.0,1.064000,Residential,1
156542,Woodstock,2014,43400.0,15000.0,2.893333,Vacant Land,0
156543,Woodstock,2014,48000.0,14500.0,3.310345,Vacant Land,0

### Next, we find AssessedValue, SalePrice andSalesRatio to be the three important numerical columns, we will observe their correaltions first.

In [ ]:
#visualize the corelation among AssessedValue SalePrice and SalesRatio using Seaborn line plot

#AssessedValue and SalePrice
sns.lmplot(x="AssessedValue", y="SalePrice",data=data)
#most values of SalePrice and AssessedValue center on less than 200000, they have a positive linear correlation

#SalePrice and SalesRatio
sns.lmplot(x="SalePrice", y="SalesRatio",data=data)
#the value distribution are equal, they do not have a significant correlation

#Assessedvalue and SalesRatio
sns.lmplot(x="AssessedValue", y="SalesRatio",data=data)
##the value distribution are equal, they have a weak positive linear correlation

#### we generate the saleprice by year with the list year (2011~2014), find the mean of saleprice for each year, computing a line chart to compare the average saleprice

In [ ]:
price_year =  data.loc[:,['SalePrice','ListYear']]
price = price_year.groupby('ListYear').mean()
price['year']=['2011','2012','2013','2014']
plt.title('sale price by year')
plt.plot(price['year'], price['SalePrice'])
plt.show()
# year 2013 has the largest average saleprice

#### apply the same methodology to AssessedValue and SalesRatio

In [ ]:
value_year = data.loc[:,['AssessedValue','ListYear']]
value = value_year.groupby('ListYear').mean()
value['year']=['2011','2012','2013','2014']
plt.title('assessment value by year')
plt.plot(value['year'], value['AssessedValue'])
plt.show()
# we observe that from year 2011 to 2014, average AssessedValue has a significant decreasing tread

In [ ]:
ratio_year = data.loc[:,['SalesRatio','ListYear']]
ratio = ratio_year.groupby('ListYear').mean()
ratio['year']=['2011','2012','2013','2014']
plt.title('sales ratio by year')
plt.plot(ratio['year'], ratio['SalesRatio'])
plt.show()
# we observe year 2011 has the largest sales ratio, where year 2014 has the least, this is the same as assessed value

### Then we will use linear regression to generate the mean square to find the predicative correlation among AssessedValue, SalesRatio and SalePrice

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
from patsy import dmatrices
import sklearn
import sklearn.metrics
from sklearn import ensemble
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [ ]:
x=data.SalePrice
y=data.SalesRatio
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.3)
model = smf.OLS(y_train,x_train)
result = model.fit()
yhat = result.predict(x_test) 
mse_error = np.mean((yhat-y_test) ** 2)
print('mse_error:',mse_error)
# large mean square error indicates that sale price does not predicate sales ratio well

In [ ]:
x=data.AssessedValue
y=data.SalesRatio
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.3)
model = smf.OLS(y_train,x_train)
result = model.fit()
yhat = result.predict(x_test) 
mse_error = np.mean((yhat-y_test) ** 2)
print('mse_error:',mse_error)
# assessed value shows a relatively better result of predicting sales ratio compared with sale price

In [ ]:
x=data.AssessedValue
y=data.SalePrice
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.3)
model = smf.OLS(y_train,x_train)
result = model.fit()
yhat = result.predict(x_test) 
mse_error = np.mean((yhat-y_test) ** 2)
print('mse_error:',mse_error)
# this number indicates that assessed value does not have any predicative correlation with sale price

# Conclusion
## 1. From the year 2011 to 2014, assessed value has a positive linear relation with sale price, but assessed value can not predicate the trend of future sale price.
## 2. From the year 2011 to 2014, sales ratio has no linear relation with sale price, it either shows a weak predicative relation with the sale price.
## 3. From the year 2011 to 2014, sales ratio has a relatively weak linear relation with assessed value, but it either shows a stronger predicative relation with the sales ratio compared with sale price.
## 4. From the year 2011 to 2014, both sales ratio and assessed value has a decreasing trend, only saleprice is unsteadily increasing.